{% extends "website/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex justify-content-between ">
    <h4> Hi, {{ user.username }}! </h4>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
</div>
    <!--Feedback Form-->
  <form id="feedbackForm" method="POST">
    {% csrf_token %}
    <!--Name of the Logged in Customer-->
    <div>
      <label for="userName" class="form-label">Name:</label>
      <input type="text" class="form-control" id="userName" name="user_name" value="{{ user.username }}" readonly>
    </div>
    
    <input type="hidden" id="userId" name="user_id" value="{{ user.id }}">

    <div>
      <label class="form-label" for="productName">Product:</label>
      <input class="form-control" type="text" required id="productName" name="product_name" placeholder="Enter product name" autocomplete="off">
      <div id="autocompleteDropdown" style="display: none; background: rgb(197, 196, 196); border: 1px solid #ccc;"></div>
    </div>
    <div> 
      <!--Feedback entered by customer-->  
      <label class="form-label" for="feedbackText">Feedback:</label>
      <textarea class="form-control" id="feedbackText" rows="10"  required name="feedback_text" placeholder="Enter your feedback"></textarea>
    </div>
    <div class="d-flex justify-content-center"><button type="submit">Submit</button></div>
    
  </form>
  <!--Sentiment Display-->
  <div class="d-flex justify-content-center"><h6 class="display-6" id="sentimentResult"></h6></div>

  
<script>
  //Product Name Autocomplete
    let selectedProductId = null;
    document.getElementById('productName').addEventListener('input', function () {
        const query = this.value;
        const dropdown = document.getElementById('autocompleteDropdown');

        //hide dropdown if query is empty
        if (!query) {
            dropdown.style.display = 'none'; 
            return;
        }
        
        //fetch data for autocomplete
        fetch(`/api/product-name-autocomplete/?q=${query}`)
            .then(response => response.json())
            .then(data => {
              //clear previous data
                dropdown.innerHTML = '';

                if (data.length > 0) {
                  //show dropdown if data is found
                    dropdown.style.display = 'block'; 
                    data.forEach(product => {
                        
                        const item = document.createElement('div');
                        item.textContent = product.name;
                        item.dataset.productId = product.id;

                        //fill the product field with value selected from dropdown
                        item.addEventListener('click', function () {
                            document.getElementById('productName').value = product.name; 
                            selectedProductId = product.id; 
                            dropdown.style.display = 'none'; //hide dropdown after filling product name field
                        });

                        dropdown.appendChild(item); // add products into the suggestion dropdown list
                    });
                } else {
                    dropdown.style.display = 'none'; //hide dropdown when no data
                }
            })
            .catch(error => {
                console.error('Error fetching autocomplete suggestions:', error);
                dropdown.style.display = 'none';
            });
    });

//hide dropdown if user clicks outside
    document.addEventListener('click', function (event) {
        const dropdown = document.getElementById('autocompleteDropdown');
        if (!dropdown.contains(event.target) && event.target.id !== 'productName') {
            dropdown.style.display = 'none';
        }
    });


      //Form submission for sentiment analysis
      document.getElementById('feedbackForm').addEventListener('submit', function(event) {
        event.preventDefault();
      
        const feedback_text = document.getElementById('feedbackText').value;
        const user_id = document.getElementById('userId').value;
        //product field can not be empty
        if (!selectedProductId) {
            alert('Please select a product');
            return;
          }
        //sending customer , product and feedback data to backend
        fetch('/api/submit-feedback/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken(),  
            },
            body: JSON.stringify({
                customer: user_id,
                product: selectedProductId,  
                feedback_text: feedback_text
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.sentiment);
            document.getElementById('sentimentResult').textContent = `Sentiment: ${data.sentiment}`;
        });
      });



    //csrf token
      function getCsrfToken() {
        
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        return csrfToken;
      }
</script>

{% else %}
<!--Log in and Sign Up buttons if Customer is not authenticated-->
  <p>You are not logged in</p>
  <a type="button" class="btn btn-primary" href="{% url 'customers:login' %}">Log In</a> |
  <a type="button" class="btn btn-primary" href="{% url 'customers:signup' %}">Sign Up</a>
{% endif %}
{% endblock %}